VITE_SUPABASE_URL=sua_url_do_supabase
VITE_SUPABASE_ANON_KEY=sua_anon_key
VITE_WHATSAPP_NUMBER=5527999999999
VITE_INSTAGRAM_URL=https://instagram.com/trilhosetrilhases
VITE_SITE_URL=https://trilhosetrilhas.com.br
